.cone1{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 300px;
    left: 500px;
    z-index: 3;
}

.cone2{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    left: 400px;
    z-index: 1;
}

.cone3{
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    top: 20px;
    left: 600px;
    z-index: 5;
}

